{% extends 'base.html.twig' %}

{% block title %}New Soutien{% endblock %}

{% block body %}
    <h1>Create new Soutien </h1>

    {{ include('soutien/_form.html.twig') }}

    <a href="{{ path('app_soutien_index') }}">back to list</a>
{% endblock %}
