{% extends 'base.html.twig' %}

{% block title %}Vérification école directe{% endblock %}

{% block body %}
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Connexion ORTHELP</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f2f2f2;
                margin: 0;
                padding: 0;
            }

            .header {
                background-image: url('https://ort-france.fr/wp-content/uploads/ORT_FRANCE.jpg');
                background-repeat: no-repeat;
                background-position: left top;
                background-size: contain;
                height: 120px;
            }

            .container {
                max-width: 500px;
                margin: 0 auto;
                padding: 20px;
                background-color: #fff;
                box-shadow: 0 0 10px rgba(0,0,0,0.3);
                border-radius: 5px;
                margin-bottom: 50px;
            }

            h1 {
                text-align: center;
                margin-bottom: 30px;
                color: #333;
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            label {
                margin-top: 20px;
                color: #666;
                font-size: 18px;
                font-weight: bold;
                display: block;
                width: 100%;
            }

            input[type="text"],
            input[type="password"] {
                padding: 10px;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                margin-top: 5px;
                width: 100%;
                box-sizing: border-box;
            }

            input[type="submit"] {
                background-color: #0077FF;
                color: #fff;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                font-size: 18px;
                cursor: pointer;
                margin-top: 20px;
                width: 100%;
                box-sizing: border-box;
                transition: background-color 0.2s;
            }

            input[type="submit"]:hover {
                background-color: #005eff;
            }

            .footer {
                text-align: center;
                font-size: 14px;
                color: #999;
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                padding: 10px;
            }
        </style>
    </head>
    <body>
    <div class="header"></div>
    <div class="container">
        <h1>Vérification école directe</h1>
        <form method='post'>
            <label for='username'> Username </label>
            <input type='text' name='username' id='username' required>
            <label for='password'> Password </label>
            <input type='password' name='password' id='password' required>
            <input type='submit' value='Envoyer'>
        </form>
    </div>
    <div class="footer">Contactez nous : admin@ortmontreuil.fr</div>
    </body>
    </html>
{% endblock %}