{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Accueil</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>

    <body>

    <main>
        <div class="container">
            <h2 style="color: blue;">Bienvenue sur HelpOrt</h2>
            <p>Notre site propose une large gamme de services de soutiens entres élèves</p>


            <a href="{{ path('app_demande_index') }}">back to list</a>
            <br>
            <a href="{{ path('app_demande_new') }}">Create new</a>


        </div>
    </main>

    </body>
    </html>
{% endblock %}
