<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmation d'envoi de mail</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
            border-radius: 5px;
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #333;
        }

        p {
            font-size: 18px;
            text-align: center;
            margin-top: 20px;
            color: #333;
        }

        a {
            color: #4CAF50;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

    </style>
</head>
<body>
<div class="container">
    <h1>Confirmation d'inscription !</h1>
    <p>Un mail vous a été envoyé, veuillez vérifier pour modifier votre mot de passe. Merci de votre inscription !</p>
    <p><a href="/connexion">Retour à l'accueil</a></p>
</div>
</body>
</html>